:root {
  --dark: #111729;
  --gray: #677489;
  --light-gray: #E5EAF0;
  --semi-white: #F2F5F9;

  --ff-lato: 'Lato', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;
  --fz-base: 0.875rem;
}

body {
  background-color: var(--semi-white);
  font-family: var(--ff-lato);
}

.container {
  display: grid;
  place-content: center;

  min-height: 100vh;
}

.card {
  width: 95%;
  max-width: 440px;
  margin-inline: auto;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
}

.card__header {
  position: relative;
}

.card__header-overlay {
  position: absolute;
  bottom: -1px;
  
  width: 100%;
  height: 4rem;
  background: url("../img/white-overlay.svg") no-repeat;
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card__content,
.card__footer {
  padding-inline: 1rem;
}

.card__title {
  color: var(--dark);
  font-family: var(--ff-poppins);
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

.card__paragraph {
  color: var(--gray);
  font-size: var(--fz-base);
}

.card hr {
  border: none;
  background-color: var(--light-gray);
  height: 1px;
}

.card__avatar-container {
  display: flex;
  align-items: center;
  gap: .8rem;

  font-size: var(--fz-base);
  padding-bottom: 1rem;
}

.card__avatar-img-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 50%;
  background-color: var(--semi-white);
  width: 3rem;
  height: 3rem;
}

.card__avatar-img {
  position: relative;

  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.card__avatar-name {
  font-family: var(--ff-poppins);
}

.card__avatar-position {
  color: var(--gray);
}